#order-confirmation {
  text-align: center;
  width: auto;
  padding-left: 50px;
  padding-right: 50px;
}

#order-confirmation .thank-you {
  background: var(--gray-100);
  border: 1px solid var(--gray-200);
  border-radius: 0.5rem;
  padding: 2rem 1rem;
}

#order-confirmation h3 {
  font-weight: bold;
  margin-top: 25px;
}

.confirmation-details {
  width: 2/3;
  text-align: left;
  margin-bottom: 15px;
}

.confirmation-details > div + div {
  margin-left: 50px;
  font-style: italic;
  color: var(--gray-600);
}

.shipping-details > div > span {
  font-style: italic;
}

#back-to-shop {
  margin-top: 25px;
}
