#category-container {
  @apply mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8;
}

#category-header {
  @apply py-8 text-center;
}

#category-header h1 {
  @apply text-4xl font-bold tracking-tight;
  color: var(--orange-400);
}

#category-header p {
  @apply mx-auto mt-4 max-w-3xl text-base;
  color: var(--orange-400);
}

#category-plants {
  @apply mt-8 grid grid-cols-2 gap-y-10 gap-x-6 sm:grid-cols-4 lg:grid-cols-6 xl:gap-x-8;
}

.category-plant {
  @apply flex flex-col items-center;
}

.category-plant-image:hover {
  opacity: 0.5;
}

.category-plant-image {
  @apply w-40 overflow-hidden rounded-lg;
  aspect-ratio: 1;
}

.category-plant-image img {
  @apply h-full w-full object-cover object-center group-hover:opacity-50;
}

.category-plant-description {
  @apply mt-4 w-40 mx-4 flex items-center justify-between text-base font-medium;
  color: var(--green-200);
}

/* .category-plant > p {
  @apply mt-1 text-sm italic;
  color: var(--orange-400);
} */
