.card {
  margin: 2.5rem 0;
}

form {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

form .spacer {
  width: 100%;
}

form .half {
  width: 50%;
  padding: 0 16px 0 0;
}

form .half + .half:nth-child(2n + 1) {
  padding: 0;
}

form input[type='checkbox'] {
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.5rem 0 0 0;
}
