main {
  display: block
}
.table-component {
  margin: 24px 0 0
}
tbody .plant-row {
  cursor: pointer
}
tbody .plant-row:hover {
  background: var(--gray-100)
}
tbody .name .name-container {
  display: flex;
  align-items: center
}
tbody .name .image-container {
  flex-shrink: 0;
  height: 2.5rem;
  width: 2.5rem
}
tbody .name img {
  border-radius: 9999px;
  height: 2.5rem;
  width: 2.5rem
}
tbody .name .text-container {
  margin-left: 1rem
}
tbody .name .text-container .name {
  font-weight: 500;
  color: var(--gray-900)
}
tbody .name .text-container .category {
  color: var(--gray-500)
}
tbody .actions * {
  background: 0 0;
  color: var(--indigo-600);
  font-size: 14px;
  font-weight: 500;
  cursor: pointer
}
tbody .actions :not(:first-child) {
  margin-left: .75rem
}
tbody .actions :hover {
  color: var(--indigo-900)
}
tbody .text-ellipsis {
  max-width: 5rem
}
tbody .text-ellipsis div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}