.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem 2rem;
  background: white;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: var(--gray-700);
  border: 1px solid var(--gray-300);
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  cursor: pointer;
}

.btn-sm {
  padding: 0.5rem 1rem;
}

.btn:hover {
  background: var(--gray-50);
}

.btn-primary {
  background: var(--indigo-600);
  color: white;
  border-color: transparent;
}

.btn-primary:hover {
  background: var(--indigo-700);
}
