/*-------------------------
  Header
-------------------------*/
.website-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: var(--gray-900);
}

.website-title {
  font-size: 2em;
  color: var(--green-500);
}

.website-title:hover {
  color: var(--green-400);
}

@media (min-width: 640px) {
  .website-title {
    font-size: 3em;
  }
}

.website-title.with-back {
  display: flex;
  align-items: center;
  gap: 20px;
}

.website-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.website-logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.website-header .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  padding: 0.75rem;
  background: var(--gray-700);
  border-radius: 999px;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.website-header .btn:hover {
  background: var(--gray-500);
}

.website-header .btn svg {
  position: relative;
  left: -1px;
  top: 2px;
  width: 30px;
  height: 30px;
  fill: currentColor;
}
