/*-------------------------
  Tag
-------------------------*/
.tag {
  display: inline-flex;
  padding: 0 0.5rem;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.25rem;
  border-radius: 9999px;
}

.tag.success {
  background: var(--green-100);
  color: var(--green-800);
}

.tag.error {
  background: var(--red-100);
  color: var(--red-800);
}
