.hidden {
  display: none !important;
}

.inline-flex {
  display: inline-flex;
}

.w-auto {
  width: auto;
}

.spacer {
  margin: 1rem 0 0 0;
}

.mt-10 {
  margin-top: 2.5rem;
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}
